@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro');
*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins';
}

body{
    background-color: #FDF0E9;
    background-position: center;
    background-size: cover;
   
}

/* .nav-bar{
    position: relative;
    width: 100%;
    height: 10%;
} */

.about{
    position: absolute;
    width: 100%;
    height: 550px;
}
.upperpart{
    
    width: 90%;
    margin: 5%;
    height: 600px;
}
.upperpart .image{
    width:50%;
    height: 50%;
    border-radius: 100%;

}
.upperpart img{
    position: absolute;
    height: 8cm;
    width: 8cm;
    border-radius: 100%;
    margin-left:17%;
    margin-top: 2%;
    
}

.upperpart .aside h5{
    position: absolute;
    width: 40%;
    height: 32px;
    left: 60%;
    top:12%;
    
    /* H5 */
    
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */
    
    letter-spacing: 3px;
    text-transform: uppercase;
    
    /* Text_Dark_Accent */
    
    color: #EF6D58;


}
.upperpart h2{
    
position: absolute;
width: 40%;
height: 128px;
left: 60%;
top:19%;

/* H2 */

font-family: 'Epilogue';
font-style: normal;
font-weight: 800;
font-size: 56px;
line-height: 64px;
/* or 114% */

letter-spacing: -1px;

/* Text_Dark */

color: #391400;
}
.upperpart h6{
    position: absolute;
width: 277px;
height: 32px;
left: 60%;
top:45%;

/* Text_Big */

font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* identical to box height, or 160% */


/* Text_Dark */

color: #391400;

}
.upperpart p{
    position: absolute;
width: 470px;
height: 98px;
left: 60%;
top: 50%;

font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */
color: rgba(57, 20, 0, 0.64);

}
.upperpart button{
    /* Button */
    position: absolute;  
width: 138px;
height: 48px;
left:60%;
top:75%;

font-family: 'Epilogue';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 14px;
text-align: center;
text-transform: uppercase;
background-color:white ;
color: #391400;
border: none;
box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
border-radius: 6px;
}

.about .lowpart{
    position: absolute;
    width:80%;
    height:25% ;
    top:100%;
    margin-right: 10%;
    margin-left:10%;

}
.lowpart article{
    float: left;
    text-align: center;
    border: 1px solid #F3D1BF;
    width: 50%;
    height: 100%;
    
}
.lowpart h3{
    
font-family: 'Epilogue';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 48px;

color: #391400;
}

.lowpart  p{
    /* Years of experience */

font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
color: #391400;
}
.lowpart .years-exp h3{
    margin-top: 10px;
    
}
.lowpart .project h3{
    margin-top: 10px;
    
}

@media all and(max-width: 909px) {

    
.about{
    
    width: 100%;
    height: 650px;
}
.upperpart{
    
    width: 90%;
    margin: 5%;
    height: 600px;
}
.upperpart .image{
    width:90%;
    height: 50%;
    border-radius: 100%;

}
.upperpart img{
    
    height: 4cm;
    width: 4cm;
   
    
}

.upperpart button{
    /* Button */
    position: absolute;  
width: 98px;
height: 38px;
left:40%;
top:75%;

font-weight: 900;
font-size: 9px;
line-height: 10px;
background-color: #EF6D58;

}

.about .lowpart{
    width:80%;
    height:25% ;
    top:160%;
    margin-right: 10%;
    margin-left:10%;

}


    
}