.footer{
    position: absolute;
width: 100%;
height: 464px;
left: 0px;

background: #28293E;
}

.footer .fo_upper{
    width: 90%;
    height: 70%;    
   
    }

    .fo_upper h4{
        font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */

letter-spacing: 3px;
text-transform: uppercase;
color: #EF6D58;
text-align: left;
    }

    .fo_upper article{
        float: left;
        width: 20%;
        margin-left: 5%;
        color:white;
        margin-top: 8%;

    }

    .footer li{
        list-style:none ;
        line-height: 30px;
        text-align: left;
    }
    .media{
        padding-top: 5%;
      
    }

    .media i{
      float: left;  
      width: 30px;
      height: 30px;
      margin-left: 10px;   

border-radius: 100%;
background: #EF6D58;
text-align: center;

color:white;
padding: 15px;


    }
    .fo-lower{
        border-top: 1px solid #EF6D58;
        width: 80%;
        margin-left: 10%;
    }

    .fo-lower p{
      
        margin-left: 15%;
        margin-top: 50px;
        float: left;
        color: rgba(255, 255, 255, 0.64);
        font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
    }

    

