
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro');
*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins';
}

body{
    background-color: #28293E;
    background-position: center;
    background-size: cover;
    
   
}


/* #nav-bar{
   display: inline;

} */
.nav-main{
    margin: 0%;
    width: 100%;
    background-color: #28293E;
    height: 60px;
}
.nav-main li{
    list-style: none;
    
}
.nav-main, a{
    
    flex-direction: column;
    list-style: none;
    padding-top:12px;
    padding-bottom: 12px;     
    text-align: center;
    margin-right: 50px;
    color: #FFFFFF;
    text-decoration: none;
}
 
.nav-main, ul {
    display: inline-flex ;
    display: flex;
    justify-content: flex-end;
    
    /* justify-content: flex-start; */
   
}
 .nav-main,li :hover {
    background-color: #28293E;
    color:#EF6D58;
    
} 